.texto {
    margin-left: 60px;

}

.nav-item :hover{

    transform: scale(1.3);
    transition: 0.5s;
}
.dropdown:hover{
    transform: scale(1.3);
    transition: 0.5s;
}
@media screen and (max-width: 1080px){ 
    .texto {
    margin-left: -8px;
    }
}